input, button {
    font-size: x-large;
}

li {
    font-size: xx-large;
}

label {
    font-size: x-large;
}

.title {
    font-size: xx-large;
    font-weight: bolder;
    padding-bottom: 20px;
}

.sub-title {
    font-size: x-large;
    padding: 10px;
    margin: 30px;
    width: 300px;
    background-color: lightblue;
}

.error {
    font-size: x-large;
    color:red;
}

.add-form {
    padding-top: 20px;
    padding-bottom: 20px;
}

.delete-form {
    display: inline;
}

.details {
    font-size: large;
    font-style: italic;
}
