<!DOCTYPE html>
<html ng-app="myApp">
<head>
    <meta charset="UTF-8">
    <title>Main</title>
    <link href="/static/css/home.css" rel="stylesheet">
    <link href="/static/css/nav.css" rel="stylesheet">
    <link href="/static/css/channel.css" rel="stylesheet">
    <link href="/static/css/login.css" rel="stylesheet">
    <link href="/static/css/profile.css" rel="stylesheet">
    <link rel="stylesheet" href="/static/lib/bootstrap-3.3.5/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/static/lib/jquery-3.1.1.js"></script>
    <script src="/static/lib/jquery.cookie.js"></script>
    <script src="/static/lib/bootstrap-3.3.5/js/bootstrap.min.js"></script>
    <script src="/static/lib/angular/angular.min.js"></script>
    <script src="/static/lib/angular-ui-router/angular-ui-router.js"></script>
    <script src="/static/js/app.js"></script>
    <script src="/static/js/controllers.js"></script>
    <script defer src="https://use.fontawesome.com/releases/v5.0.9/js/all.js" integrity="sha384-8iPTk2s/jMVj81dnzb/iFR2sdA7u06vHJyyLlAd4snFpCl/SnyUjRrbdJsw1pGIl" crossorigin="anonymous"></script>
    <script src="/static/js/ng-file-upload.min.js"></script>
    <script src="/static/js/ng-file-upload-shim.min.js"></script>
    <script src="/static/js/angular-file-saver.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-confirm/1.2.6/angular-confirm.js" integrity="sha256-ZzCxgo42uUG3bQOyw76MH3j5sjUbLW3vR3zI2TThgIQ=" crossorigin="anonymous"></script>
    <script src="/static/js/Blob.js"></script>
    <script src="/static/js/FileSaver.js"></script>
    <script type="text/javascript" src="//monospaced.github.io/bower-qrcode-generator/js/qrcode.js"></script>
    <script type="text/javascript" src="//monospaced.github.io/bower-qrcode-generator/js/qrcode_UTF8.js"></script>
    <script type="text/javascript" src="//monospaced.github.io/angular-qrcode/angular-qrcode.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
</head>
<body>
<header>
    <nav role="navigation" class="navbar navbar-default">
        <div class="container">
            <!--<div class="navbar-header"><a class="navbar-brand">UI/OP</a></div>-->
            <ul class="nav navbar-nav navbar-left">
                <li><a>      </a></li>
                <li><a href="#home"> UIOP</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right non-login" id="isLogin">
                <li><a></a></li>
                <li><a href="#login"> Login</a></li>
                <li><a href="#signup"> Signup</a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right login" id="notLogin">
                <li><a><i class="fas fa-cog" id="settingChannel" type="button" data-backdrop="static" data-toggle="modal" data-target="#myModal"></i></a></li>
                <li><a href="#profile"><img class="img-circle" src="/static/img/default.jpg"></a></li>
                <li><a href="#login">Logout</a></li>
            </ul>
        </div>
    </nav>
</header>
<div id="main" class="content">
    <div ui-view=""></div>
</div>
<footer class="text-center">
    <p>© 2018 Web-Application</p>
</footer>
</body>
</html>