<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div class="login-container">
        <div class="login-title">
            <label class="control-label">Enter the Channel Password</label>
        </div>

        <div class="controls">
            <input type="password" id="inputChannelPassword" placeholder="  passowrd" name="password" ng-model="password" required>
        </div>

        <div class="error-show" style="color: red">
            <span id="login-error"></span>
        </div>

        <div class="controls">
            <button type="button" ng-click="matchChannelPassword()">Enter</button>
        </div>
    </div>
</body>
</html>